<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Demo Page</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='media/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='media/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='media/css/bootstrap-extend.css') }}">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="text-align: center">Home Page</h1>
        <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message[0] }}">
                        {{ message[1] }}
                    </div>
                {% endfor %}
                <a href="logout" class="btn btn-danger btn-center well-lg">Logout</a>
            {% else %}
                <a href="login" class="btn btn-success btn-center well-lg">Log In</a>
            {% endif %}
        {% endwith %}
            <a href="register" class="btn btn-primary btn-center well-lg">Register</a>
        </div>
</body>