<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Registration</title>
       <link rel="stylesheet" media="screen" href ="{{ url_for('static',filename='media/css/bootstrap.min.css') }}">
       <link rel="stylesheet" href="{{ url_for('static',filename='media/css/bootstrap-theme.min.css') }}">
       <link rel="stylesheet" href="{{ url_for('static',filename='media/css/bootstrap-extend.css') }}">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 style="text-align: center">Registration</h1>
        <div class="container">
            {% block content %}
            {% from "_formhelpers.html" import render_field %}
            <form method=post>
                {{ render_field(form.username, true) }}
                {{ render_field(form.email, true)}}
                {{ render_field(form.password, true) }}
                {{ render_field(form.confirm, true) }}
                <button type="submit" class="btn btn-primary btn-center well-lg">Submit</button>
                <a href="/" class="btn btn-default btn-center">Back</a>
            </form>
            {% endblock %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message[0] }}">
                    {{ message[1] }}
                </div>
            {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
</body>